<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="dc-omni-embedding.ZPM">
    <Module>
      <Name>dc-omni-embedding</Name>
      <Version>1.0.5</Version>
      <Description>The Universal Embedding Gateway for InterSystems IRIS</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="dc.omniEmbedding.PKG"/>
      <UnitTest Name="/tests/dc/omniEmbedding" Package="dc.omniEmbedding.tests" Phase="test"/>
    </Module>
  </Document>
</Export>
